.btn-primary {
  background-color: #666666;
  border-color: #666666;
}

footer {
  clear: both;
  overflow: 0 auto;
  margin: 0 auto;
  text-align: center;
  background: #666666;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 10px;
  border-top: 5px solid #4aaaa5;
  height: auto;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
